body {
    background-color: rgb(243, 229, 255);
    margin-top: 60px;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picture {
    display: flex;
    justify-content: center;   
    gap: 20px;                 
    margin: 20px 0;            
    flex-wrap: wrap;           
}

.picture img {
    border: 3px solid #f9b9b9; 
    padding: 8px;              
    background-color: #f9b9b9; 
    border-radius: 6px;        
    max-width: 250px;         
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.top-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

.left-content {
    flex: 1;
    min-width: 0;
}

.side-box {
    width: 220px;
    background: #baf2fe;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #baf2fe;
    font-size: 0.9rem;
}

.side-box h3 {
    margin-top: 0;
    font-size: 1.1rem;
}
.attention{
    color: rgb(149, 8, 8);
}
.common {
    background-color: rgb(184, 220, 252);
    border: 2px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
}

.common.header {
    display: flex;
    align-items: center;
    padding: 10px 50px; /* 50px on left and right */
    background: #baf2fe;
}

.common.header a:last-child {
    margin-left: auto;
}

